.button {
  background-color: #4CAF59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
legend {
    background-color: green;
    color: #fff;
    padding: 3px 6px;}
fieldset
{
  border:2px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
}


